<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h3> Post Blog</h3>
        <form action="/postBlog" method="POST">
            <div class="form-group">
                <label for="title">Title : </label>
                <input type="text" name="title"><br>
                <label for="img_link">Image Links : </label>
                <input type="text" name="img_link"><br>
                <label for="link">Link for web : </label>
                <input type="text" name="link"><br>
                <label for="Description">Description:</label>
                <textarea name="des" class="form-control" rows="4" cols="50"></textarea>

                <br>
                <br>
                <button type="submit"> Add to list</button>
            </div>
        </form>

    </div>
    <div class="container">
        <p>Un-publish Article</p>
        <% for(var i=0; i < blogS.length; i++) { %>
        <form action="/publishBlog/<%= blogS[i]._id%>/published" method="POST">
            <div class="row">
                <div class="card m-2 p-2" style="width: 18rem;">
                    <img class="card-img-top" src="<%=blogS[i].img_link%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= blogS[i].title %></h5>
                        <p class="card-text"><%=blogS[i].des %></p>
                        <p class="card-text"><%=blogS[i].date.toDateString() %></p>
                        <button type="submit" class="btn btn-warning">Publish <%= blogS[i].publish %></button>
                    </div>
                </div>
                <% } %>
        </form>
    </div>

    <div class="container">
        <p>Published Article</p>
        <% for(var i=0; i < publishblog.length; i++) { %>
        <form action="/publishBlog/<%= publishblog[i]._id%>/published" method="POST">
            <div class="row">
                <div class="card m-2 p-2" style="width: 18rem;">
                    <img class="card-img-top" src="<%=publishblog[i].img_link %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= publishblog[i].title %></h5>
                        <p class="card-text"><%=publishblog[i].des %></p>
                        <p class="card-text"><%=publishblog[i].date.toDateString() %></p>
                        <button type="submit" class="btn btn-success">Publish <%= publishblog[i].publish %></button>
                    </div>
                </div>
                <% } %>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>